.bg{
    background-image: url(../img/bg2.png);
    background-size: cover;
    width: 100%;
    /* height: 500px; */
    background-position: 100% 100%;
    z-index: 1111111;
    background-repeat: no-repeat;
    display: inline-block;	
}
.timeline-bg{

        background-color: #fff;
    border-radius: 10px;
    margin: 20px;
}
.title-bg{padding: 0px 25px;}
.ft{    font-size: 19px;
    color: #6d6e86;
    font-weight: 500;
	margin-top:0px !important;
	}

#msform {
width: 1000px;
margin: 50px auto;
text-align: center;
position: relative;
background: #fff;
}
#msform fieldset {
background: #f8f8f8;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
padding: 20px 30px;
box-sizing: border-box;
width: 80%;
margin: 0 10%;
/*stacking fieldsets above each other*/

}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
padding: 15px;
border: 1px solid #f1f2f2;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;

color: #939598;
font-size: 13px;
}
/*buttons*/
#msform .action-button {
width: 100px;

font-weight: bold;

border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;

    background: #27aae1;
    padding: 7px 25px;

    font-size: 14px;
    border-radius: 4px;
    color: #fff;
 
    font-weight: 600;
    outline: none;
    border-radius: 30px;
    transition: 0.5s;
}
#msform .action-button:hover, #msform .action-button:focus {
background:#1e98cc;
}
/*headings*/
.fs-title {
font-size: 15px;
text-transform: uppercase;
color: #2C3E50;
margin-bottom: 10px;
}
.fs-subtitle {
font-weight: normal;
font-size: 13px;
color: #666;
margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
margin-bottom: 30px;
overflow: hidden;
/*CSS counters to number the steps*/
counter-reset: step;
}
#progressbar li {
list-style-type: none;
color:#a59999;
text-transform: uppercase;
font-size: 15px;
width: 33.33%;
background:transparent;

float: left;
position: relative;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 50px;
height:50px;
line-height: 50px;
display: block;
font-size: 20px;
color: #908d8d;
text-align:center;
background: #f0f0f0;
border-radius:100%;
    margin-bottom: 20px !important;
margin: 0 auto 0px auto;
}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 98%;
height: 2px;
background: #022c3e	;
position: absolute;
left: -48%;
top: 25px;
z-index: -10; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
background: #022c3e;
color: white;
z-index:1;

}

.well-primary {
color: rgb(255, 255, 255);
background-color: rgb(66, 139, 202);
border-color: rgb(53, 126, 189);
}
.full{width:100% ;}
h4.panel-title {
    text-align: left;
}






  .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
		color:#939598;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}
.red{color:red;}


.content {
margin: 0 30px;
    height: 550px;
}
.field.buttons button {
margin-right: .5em;
}
#invalid {
display: none;
float: left;
width: 290px;
margin-left: 120px;
margin-top: -4.5em;
color: #CC2A18;
font-size: 130%;
font-weight: bold;
}
.idealforms.adaptive #invalid {
margin-left: 0 !important;
}
.idealforms.adaptive .field.buttons label {
height: 0;
}
.btn-blue{
	background: #27aae1 !important;
    padding: 7px 25px !important;
    border: none !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    color: #fff !important;
    position: relative !important;
    font-weight: 600 !important;
    outline: none !important;
    border-radius: 30px !important;
    transition: 0.5s !important;
	    margin-top: 30px;
		
}
	.mg-130{margin-top:130px !important}
	.mg-23{margin-top:23px !important}
	.mg-15{margin-top:42px !important}
	
	.btn-blue:hover
	{    background: #149AC9 !important;
    transition: all 0.2s !important;
		}
		
		.counter {
    display: none !important;
}
.float-none{float:none !important;margin: 5px;}
.mg-72 {
    margin-top:78px !important;
}
.add-btn {
    color: #fff !important;
    background: #27AAE1 !important;
    border:1px solid #27AAE1 !important;;
 
    -webkit-box-shadow: none !important;
    box-shadow: transparent !important;
    -webkit-border-radius: transparent !important;
    border-radius:100% !important;
    padding:2px 5px !important;
    cursor: pointer ;
    transition:0.5s;
}
.add-btn:hover
    {
      background: #fff !important;
      color:#149AC9 !important;
      transition: all 0.5s !important;
    }
.add-font{
        font-size: 20px;
    line-height: 26px;
}

/*admin1*/
.accordion__container {
   
}
.admin-container{
padding: 50px 0px;
}
.main-bg{min-height: 780px; padding: 60px 0;}

/*marketting kit*/

.table-rds{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	
}
.kit-btn
{    padding: 20px 20px !important;
    background:#f8f8f8;
     
	
	margin:25px 0px;
	
	}
	.kit-btn > .btn-primary,.kit-btn > .btn-Default{margin-left:10px !important;}
	
	.work-title p {
    font-size: 30px;
    color: #27aae1;
    font-weight: bold;
}
.work-title a {
       font-size: 20px;
    color: #27aae1;
    line-height: 35px;
    cursor: pointer;
    padding-right: 5%;
}
.work-title{
border-bottom: 1px solid #f8f8f8;
    margin-bottom: 20px;
    border-bottom-width: 86%;
    padding: 10px;
}
.work-img{
    text-align: center;
    vertical-align: center !important;
    background: #f8f8f8;	
}
a.work-add i {
    font-size: 30px;
    padding: 60px 0;
    color: rgba(2, 44, 62, 0.34);
}
a.work-add-edit i
{
	 font-size: 15px;
    padding: 25px 0;
}

.mb-10{margin-botttom:10px; !important;}
.ft-btn{width:200px !important; }
.bg-center{position:relative;top:100px;}
span.green {
    margin: 23px 0px;
    color: #3fab41;
    font-weight: 700;
}
.btn-close {
    background: rgba(228, 228, 228, 0.63);
    border: 1px solid #ffffff;
    margin: 0 10px;
    border-radius: 30px;
}

a.work-img img {
    width: 225px;
    /* float: left; */
}
.work-img-edit img {
    width: 96px !important;
	    height: 63px;
}
.kit-img ul li {
    list-style: none;
	float:left;
	margin:10px 5px;
}
.work-add {
    display: block;
    cursor: pointer;
    width: 225px;
    height: 144px;
    background-color: #f8f8f8;
    text-align: center;
}
.work-add-edit {
	 width: 100px !important;
    height: 65px !important;
	
   
}
.kit-title .line {
    margin: 15px 0;
}
.plush-icon{
	padding: 2px 0px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
	}
	
.kit-title {

font-size: 15px;
text-decoration:none;
}
.kit-title a {
    text-decoration: none;
}
.kit-content{
    border: 1px solid #e6e5e5;
    padding: 10px;
	border-radius:5px;
}

#contact-box{position: fixed;right: 0;top: 45%;}
#btnContact {    background: #022c3e;
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;} 
#frmContact {background:#f8f8f8;padding:15px;display:none;float:right; width:500px;height:400px;}
#frmContact div{margin-bottom: 15px}
#frmContact div label{margin-left: 5px}
.demoInputBox{padding:10px; border:#F0F0F0 1px solid; border-radius:4px;}

.btnAction{background-color:#2FC332;border:0;padding:10px 40px;color:#FFF;border:#F0F0F0 1px solid; border-radius:4px;}
.txt-content{border-left: #F0F0F0 1px solid;padding: 5px 20px; margin-top: 100px;}


/*#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#accordion a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #022c3e;
  text-decoration: none;
}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #022c3e;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover:before,
#accordion .panel-heading a.collapsed:focus:before {
  color: white;
}
#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #022c3e;
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
/*#accordion .panel-heading .accordion-toggle:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
      margin-right: 5px;
}
#accordion .panel-heading .accordion-toggle.collapsed:before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
      margin-right: 5px;
}*/
.bg-white{
    background: #fff;
    padding: 15px;
	width: 470px;
}
.post-text textarea {
    border: none;
    outline: none;
    padding: 10px 20px;
	resize: none;
	    color: rgb(119, 119, 119);
}
.post-text textarea::placeholder {
    color:rgb(119, 119, 119);
}
.regi-bg{
	    background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)), url(../img/mona.png) fixed no-repeat;
    background-size: cover;
     height: 745px;
	}
.regi-bg > .wrapper{
padding-top:200px;
padding-bottom:200px;
}

.logo{ 
padding:5px 0;
color: #fff !important;
font-family: "Arial Bold", sans-serif;
font-weight: bold;
text-shadow: none;

	}
	.navbar {
    
    min-height: 65px;
	
	}
.logo img {
	width:100%;
  
}
.modal-body {
    width: 90%;
    margin: 0 auto;
}
.mt-15{
    margin-top: 15px;	
}
.ml-10{
	    margin-left: 10px;
	}
	h4.grey span {
    padding-right: 15px;
	transition:0.2s;
}
h4.grey span:hover{
	color:#27aae1;
	}
	.logo-title {
    font-size: 45px;
    line-height: 40px;
    margin: 55px 0px;
    font-family: arial,sans-serif;
}
.mail-text{  
padding: 25px 50px;
}
.red-brd {
    border-color: #ff000080 !important;
}
.dropdown input {
    margin-top: 15px;
	padding:8;
}
.dropdown button {
    margin-top: 15px;
	    margin-left: 5px;
 margin-right: 30px;
}
.navbar-header
{
	width:30% !important;
}
div#register h3 {
    font-size: 30px;
}
.remember input[type="checkbox"] {
    margin-top: 8px;
}	
.remember span{    padding-left: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;}
.green{color:green;}


.home-container img {
    width: 100%;
}

.intro-social img{
	width:70%;
	}
	.intro-social a:hover{opacity:0.9;}
	ul.edit-menu h5 {
    padding: 7px;
    background-color: #fdb70e;
    text-align: center;
    color: #fff;
}
ul.edit-menu span {
    background-color: #ffbf00;
    color: #fff;
    font-size: 9px;
    padding: 2px;
        margin-left:5px;
	
}
.m-15{
	margin:15px;
	}
.m-10{
	margin:10px;
	}
	.pt-60
	{
		    padding-top: 60px;
		}
		.pt-80
		{
			padding-top:80px;
			}
.pt-22
		{
			padding-top:22px;
			}		
.mb-40{
	    margin-bottom: 34px;
	}	
	.p-15{padding:15px;}
	.admin-mkt {
    padding: 15px;
}

.mkt-social {
    margin-left: 20px;
}
.mkt-social ul.social-icons li {
 	`
    width: 35px;
    height: 35px;
    border: 1px solid #dedede;
    border-radius: 100%;
    margin: 3px;
    text-align: center;
	background:#dedede;;
 
}	
.m	kt-social  ul.social-icons li a {
    color: #092a3c;
  
}
ul.social-icons .fb a:hover {
    color: #3b5998;
    transition: all 0.2s;
    /* background: #3b5998; */
}
ul.social-icons .tw a:hover {
    color: #27aae1;
    transition: all 0.2s;
    /* background: #3b5998; */
}
@media screen and (max-width:767px)
{

  .idealsteps-nav a {
    border: 1px solid #eceeef;
    padding: 0px 5px;
    height: 70px;
    text-align: center;
    border-radius: 100%;
    width: 70px;
    background: #eceeef;
   line-height: 2.8em;
    text-decoration: none;
    color: #9fa3a5;
   }
   .navbar-header
{
	width:100% !important;
}
}




