
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="robots" content="" />
		<title>Marketing Kit</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/custome.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/ionicons.min.css" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.idealforms.css">
       <link rel="stylesheet" href="css/font-awesome.min.css" />
       <link rel="stylesheet" type="text/css" href="css/jquerysctipttop.css">
       <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="css/custome-angular.css">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
	</head>
  <body   ng-controller="MainCtrl">

    <!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
        
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header " >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
               <a class="navbar-brand logo text-center " href="index.html"><img src="img/logo.png"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
            <li class="dropdown"><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Promotions<span>  <img src="images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu page-list">
                  <li><a href="#">Marketing kit</a></li>
                 
                
                </ul>
              </li>
             
                 <li class="dropdown"><a href="#">Sign Out</a></li>
            </ul>
            
            
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->
        
   <section class="main-bg">
   
         <div class="marketk-kit">
         <div class="container">
               <div class="row">
                <!--<div class="col-lg-3 col-md-3 col-sm-12">
                   <div class=" intro-social">
                     <a href="#"><img src="img/fb.png" ></a>
                     <a href="#"><img src="img/tw.png" ></a>
                  </div>
                
                </div>-->
                 <div class="col-lg-8  col-lg-offset-2 col-md-7 col-sm-12  ">
                     <div ng-app class="kit-content">
                      <div class=" kit-title " ><a class="mkt"><i class="icon ion-android-checkmark-circle"></i> Marketing Kit</a><a class="pull-right" > </a>
                       <div class="line"></div>
                      </div>
    <div class="accordion__container" ng-controller="myCtrl">
        <div class="accordion__tab">
            <div class="accordion__tab-title" ><a >Devloper </a><a class="pull-right opn-cls" > <i ng-click="openTab('tab one')" class="fa fa-plus plush-icon"></i></a></div>
            <div class="accordion__tab-content " ng-show="isOpenTab('tab one')">
                  <div class="row">
                     <div class="kit-img">
                               <div class="post-text">
                                    <textarea  name="comment" placeholder="Write Somethig here......" ></textarea>
                                  	
                               </div>
                                <div class="mkt-social  clearfix">
                                 <ul class="list-inline social-icons">
              	<li class="fb"><a href="#" ><i class="fa fa-facebook"></i></a></li>
              	<li class="tw"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
           
              </ul>
                                </div>
                                
                                 
                       <ul class="clearfix">
                          <li>
                             
                             
                              <a class="work-img  work-img-edit"> <img src="img/3.jpg" class=" img-responsive img-thumbnail" >
                                 <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div>
                               </a>
                          
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                      
                          <li>
                              <a class="work-add  work-add-edit"><i class="fa fa-plus"></i></a>
                          </li>
                          
                        </ul>
                        
                          <div class="kit-btn text-center">
                          
                            <button class="btn  btn-primary "  > <span class="glyphicon glyphicon-picture"></span> &nbsp; Photo Album</button>
                            <button class="btn  btn-primary "  ><span class="glyphicon glyphicon-facetime-video Video"></span>&nbsp; Video</button>
                            <button class="btn  btn-primary " >  Save</button>
                         </div>
                     </div>
                  </div>
            </div>
        </div>
        
        <!-- .accordion__tab -->
      
        <div class="accordion__tab">
            <div class="accordion__tab-title" ><a >Designer </a><a class="pull-right opn-cls" > <i ng-click="openTab('tab two')" class="fa fa-plus plush-icon"></i></a></div>
            <div class="accordion__tab-content " ng-show="isOpenTab('tab two')">
                  <div class="row">
                     <div class="kit-img">
                               <div class="post-text">
                                    <textarea  name="comment" placeholder="Write Somethig here......" ></textarea>
                               </div>
                       <ul	 class="clearfix">
                          <li>
                             
                             
                              <a class="work-img  work-img-edit"> <img src="img/3.jpg" class=" img-responsive img-thumbnail" > <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                            
                          </li>
                             <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                            <li>
                              <a class="work-img  work-img-edit"> <img src="img/2.jpg" class=" img-responsive img-thumbnail" >  <div class="overlay2">
                                 <i class="fa fa-pencil"></i>
                                 <i class="fa fa-trash-o"></i>
                               </div></a>
                          </li>
                           
                          <li>
                              <a class="work-add  work-add-edit"><i class="fa fa-plus"></i></a>
                          </li>
                          
                        </ul>
                          <div class="kit-btn text-center">
                            <button class="btn  btn-primary "  > <span class="glyphicon glyphicon-picture"></span> &nbsp; Photo Album</button>
                            <button class="btn  btn-primary "  ><span class="glyphicon glyphicon-facetime-video Video"></span>&nbsp; Video</button>
                            <button class="btn  btn-primary " >  Save</button>
                         </div>
                     </div>
                  </div>
 
            
            </div>
        </div>
        
        <!-- .accordion__tab -->
            <div class="accordion__tab">
            <div class="accordion__tab-title" ><a>Analyst </span></a><a class="pull-right opn-cls" href="editwork.html"> <i class="fa fa-pencil"></i></a></div>
            <div class="accordion__tab-content " ng-show="isOpenTab('tab three')">
                  <div class="row">
                     <div class="kit-img">
                               <div class="post-text">
                                    <textarea  name="comment" placeholder="Write Somethig here......" ></textarea>
                               </div>
                       <ul	 class="clearfix">
                          <li>
                             
                             
                              <a class="work-img  work-img-edit"> <img src="img/3.jpg" class=" img-responsive img-thumbnail" >
                          
                                           
                              </a>
         
                          </li>
                           
                           
                          <li>
                              <a class="work-add  work-add-edit"><i class="fa fa-plus"></i></a>
                          </li>
                          
                        </ul>
                          <div class="kit-btn text-center">
                            <button class="btn  btn-primary "> <span class="glyphicon glyphicon-picture"></span> &nbsp; Photo Album</button>
                            <button class="btn  btn-primary "><span class="glyphicon glyphicon-facetime-video Video"></span>&nbsp; Video</button>
                            <button class="btn  btn-primary ">  Post</button>
                         </div>
                     </div>
                  </div>
 
            
            </div>
        </div>
    </div>
</div>
                </div>
           </div>
       </div>
      </div>
     </div>
     
     
<div class="txt-content"><!-- content area --></div>
 </section>



    <!-- Footer
    ================================================= -->
    <footer id="footer" class="clearfix">
    
    
      <div class="copyright">
        <p>&copy; copyright All rights reserved 2017</p>
      </div>
		</footer>
        
        
   <div id="contact-box">
	<div id="btnContact" onClick="showContact();"> Help</div>
	<div id="frmContact">
		<div id="mail-status"></div>
		<div class="bg-white">
        
        <h4>How can we help ? </h4>
        <div class="line"></div>
        <p class="text-justify">The marketing kit is the social media content  that your guild members (your artist connections) will be able to view and share with their respective friends on Facebook through the ArtistPromotes platform. Please create a marketing kit for each work of yours by uploading the desired content to the ArtistPromotes website. Video is not stored on the platform, hence you are requested to furnish an accessible url.</p>
		</div>
	</div>
</div> 
    
    
    <!--Buy button-->
   
    <!-- Scripts
    ================================================= -->
             <script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/angular.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
	<script src="js/angular-aria.min.js"></script>
	<script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
   
    <script src="js/script.js"></script>
    <script>
$(document).ready(function(){
    $('.btn-social').click(function(){
	     $('.social-icons').toggle(1000);	
		
		
    });
	
});
    
    </script>
 <script>
function myCtrl($scope) {
    // initiate an array to hold all active tabs
    $scope.activeTabs = ['tab one'];

    // check if the tab is active
    $scope.isOpenTab = function (tab) {
        // check if this tab is already in the activeTabs array
        if ($scope.activeTabs.indexOf(tab) > -1) {
            // if so, return true
            return true;
        } else {
            // if not, return false
            return false;
        }
    }

    // function to 'open' a tab
    $scope.openTab = function (tab) {
        // check if tab is already open
        if ($scope.isOpenTab(tab)) {
            //if it is, remove it from the activeTabs array
            $scope.activeTabs.splice($scope.activeTabs.indexOf(tab), 1);
		        }
				
	    else {
            // if it's not, add it!
             $scope.activeTabs.push(tab);   
            }
    }
}



 </script>


  
  
    
  </body>

</html>
